@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-primary: #6950EB;
  --color-secondary: #00f6f8;
  --color-dimWhite: rgba(255, 255, 255, 0.7);
  --color-dimBlue: rgba(9, 151, 124, 0.1);

  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    @apply ring-1 ring-primary border-primary outline-none;
  }
}